<script src="/js/photoswipe/photoswipe.umd.min.js"></script>
<script src="/js/photoswipe/photoswipe-lightbox.umd.min.js"></script>
<div class="pswp-gallery">
{{- range (readDir (printf "content/%s" .Page.File.Dir) ) }}
{{- if or (hasSuffix .Name ".jpg") (hasSuffix .Name ".jpeg") }}
{{- $img := imageConfig (printf "content/%s/%s" $.Page.File.Dir .Name) }}
    <a href="{{ .Name }}" data-pswp-srcset="{{ .Name }}" data-pswp-width="{{ $img.Width }}" data-pswp-height="{{ $img.Height }}">
        <img src="{{ .Name }}" width="250"/>
    </a>
{{- end }}
{{- end }}
</div>
<script type="text/javascript">
    var lightbox = new PhotoSwipeLightbox({
    gallery: '.pswp-gallery',
    children: 'a',
    pswpModule: PhotoSwipe
    });
    lightbox.init();
</script>
